* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

:root {
  --colorCorp1: #6a533f;
}

h1 {
  padding: 20px 0px;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

header {
  position: relative;
}

#logo_header {
  height: 200px;
  position: absolute;
  top: 50px;
  left: 400px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 5px solid;
  background-color: transparent;
}

nav p {
  padding: 10px;
}

nav p a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

nav p a:hover {
  border-block: 2px solid;
  font-size: 28px;
}

.container_nav {
  max-width: 1400px;
  margin: 0 auto;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#logo_menu {
  padding: 1px;
}

#active {
  border-bottom: 2px solid;
}

.container_nav p {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_nav img {
  height: 32px;
  width: 32px;
}

.search_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150%;
}

.search_bar input {
  width: 93%;
}

.container_main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.card img {
  max-width: 300px;
  border-radius: 8px;
}

.container_foot {
  max-width: 1400px;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: white;
  padding: 22px 0;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer h3 {
  padding: 10px 0;
}

footer ul {
  list-style-type: none;
}

.mail {
  text-decoration: none;
  color: inherit;
}

.logosrrss {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logosrrss a img {
  padding: 5px;
}

.copy {
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px;
  font-size: 24px;
}

.logosrrss a img {
  padding: 10px;
}

@media screen and (min-width: 581px) and (max-width: 768px) {
  header {
    max-width: 768px;
  }
  footer {
    max-width: 768px;
  }
  .container_nav {
    max-width: 768px;
  }
  .container_foot {
    max-width: 768px;
  }
  div#menu {
    max-width: 768px;
    display: flex;
    height: auto;
  }
  footer > div {
    flex-direction: column;
  }
  footer > div > div {
    margin-bottom: 20px;
    text-align: center;
  }
  footer > div > div > p {
    display: flex;
    justify-content: center;
  }
  footer h3 {
    font-size: 20px;
  }
  footer li {
    font-size: 18px;
  }
  footer p {
    font-size: 20px;
  }
  footer a {
    font-size: 18px;
  }
  .copy {
    text-align: center;
    padding: 10px 0;
    max-width: 768px;
    font-size: 20px;
  }
  .container_nav p {
    font-size: 18px;
  }
  .container_nav img {
    height: 24px;
    width: 24px;
  }
  .search_bar {
    width: 100%;
  }
  .search_bar input {
    width: 90%;
  }
  .flex {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
    margin: 5px;
  }
  .card img {
    width: 100%;
  }
  .logosrrss a img {
    padding: 5px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 376px) and (max-width: 580px) {
  header {
    max-width: 580px;
  }
  footer {
    max-width: 580px;
  }
  .container_nav {
    max-width: 580px;
  }
  .container_foot {
    max-width: 580px;
  }

  div#menu {
    max-width: 580px;
    display: flex;
    height: auto;
    flex-direction: column;
  }
  footer > div {
    flex-direction: column;
  }
  footer > div > div {
    margin-bottom: 20px;
    text-align: center;
  }
  footer > div > div > p {
    display: flex;
    justify-content: center;
  }
  footer h3 {
    font-size: 20px;
  }
  footer li {
    font-size: 18px;
  }
  footer p {
    font-size: 20px;
  }
  footer a {
    font-size: 18px;
  }
  .copy {
    text-align: center;
    padding: 10px 0;
    max-width: 580px;
    font-size: 20px;
  }
  .container_nav p {
    font-size: 18px;
  }
  .container_nav img {
    height: 24px;
    width: 24px;
  }
  .search_bar {
    width: 100%;
  }
  .search_bar input {
    width: 90%;
  }
  .flex {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
    margin: 5px;
  }
  .card img {
    width: 100%;
  }
  .logosrrss a img {
    padding: 5px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 375px) {
  header {
    max-width: 375px;
  }
  footer {
    max-width: 375px;
  }
  .container_nav {
    max-width: 375px;
  }

div#menu {
    display: flex;
    height: auto;
    flex-direction: column;
}
  .container_foot {
    max-width: 375px;
  }
  footer > div {
    flex-direction: column;
  }
  footer > div > div {
    margin-bottom: 20px;
    text-align: center;
  }

footer > div > div > p {
    display: flex;
    justify-content: center;
}
  footer h3 {
    font-size: 18px;
  }
  footer li {
    font-size: 16px;
  }
  footer p {
    font-size: 18px;
  }

.copy {
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    max-width: 375px;
}
  footer a {
    font-size: 16px;
  }
  .container_nav p {
    font-size: 18px;
  }
  .container_nav img {
    height: 24px;
    width: 24px;
  }
  .search_bar {
    width: 100%;
  }
  .search_bar input {
    width: 90%;
  }
  .flex {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
    margin: 5px;
  }
  .card img {
    width: 100%;
  }
  .logosrrss a img {
    padding: 10px;
    width: 20px;
    height: 20px;
  }
}